shamefully-hoist=false
strict-peer-dependencies=false
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@sentry/cli
onlyBuiltDependencies[]=@content-collections/core
